<h2 mat-dialog-title> Edit Playlist</h2>

<form  #editPlaylistForm ="ngForm" (ngSubmit)="onFormSubmit(editPlaylistForm.value)">

        <div class="example-container container">
            <div class="example-container">
<mat-dialog-content >
  
    <mat-form-field style="width:400px;" [floatLabel]="editPlaylistForm.value.floatLabel">
        <mat-select placeholder="What would you like to edit" [formControl]="optionSelectedControl" name="selectedSongs" [(ngModel)]="selectedOptionToEdit" style="width:400px;" required>
            <mat-option value="default" >---Select---</mat-option>
            <mat-option value="playlistTitle">Playlist Title</mat-option>
            <mat-option value="playlistDescription">Playlist Description</mat-option>
            <mat-option value="playlistVisibilityScope">Playlist visibility Scope</mat-option>
            <mat-option value="playlistAddMoreSongs">Add more songs</mat-option>

        </mat-select>

        
    </mat-form-field>

    <mat-form-field *ngIf="selectedOptionToEdit=='playlistTitle'" [floatLabel]="editPlaylistForm.value.floatLabel">
        <mat-label>New Playlist Title</mat-label>
        <input [(ngModel)]="newPlaylistTitle" [formControl] = "newPlaylistTitleController" matInput name = "newPlaylistTitle" placeholder="Please provide new playlist title" required> 
    </mat-form-field>

    <mat-form-field *ngIf="selectedOptionToEdit=='playlistDescription'" [floatLabel]="editPlaylistForm.value.floatLabel">
        <mat-label>New Playlist Description</mat-label>
        <input [(ngModel)]="newPlaylistDescription" [formControl] = "newPlaylistDescriptionController" matInput name = "newPlaylistDescription" placeholder="Please provide new description about playlist" required> 
    </mat-form-field>

    <mat-form-field *ngIf="selectedOptionToEdit=='playlistVisibilityScope'"  [floatLabel]="editPlaylistForm.value.floatLabel">
        <mat-label>New Playlist Scope</mat-label>
        <mat-select [formControl] = "newPlaylistVisibilityScopeController" matInput name="newPlaylistVisibilityScope">
        <mat-option value="Public">Public</mat-option>
        <mat-option value="Private">Private</mat-option>
        </mat-select>
    
    </mat-form-field>

    <mat-form-field *ngIf="selectedOptionToEdit=='playlistAddMoreSongs'"  [floatLabel]="editPlaylistForm.value.floatLabel" style="width:400px;">
        <mat-label>Select Songs To Add</mat-label>
        <mat-select [formControl] = "newSongsAddedController" [(ngModel)]="newSongsAdded" matInput name="newSongsAdded" autocomplete="on" multiple>
        <mat-option *ngFor="let song of allSongsDropdown" value={{song._id}}>{{song.title}}</mat-option>

        </mat-select>
    
    </mat-form-field>
      
 
</mat-dialog-content>
</div>
</div>
</form>
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>


