
    <!-- <code>{{ profile | json }}</code> -->
    <div class="container">
    <mat-label *ngIf="songUploaded">
            
         <div class="row">
                    <div class="col-sm-8 d-flex justify-content-center">
                        <span><p><i class="fas fa-check"></i> Song Uploaded Successfully</p></span>
                    </div>
        </div>            
    </mat-label>
    </div>
    <form #uploadNewSongForm ="ngForm" (ngSubmit)="onFormSubmit(uploadNewSongForm.value)">
    <div class="example-container container">
        <div class="example-container">
            <mat-form-field [floatLabel]="uploadNewSongForm.value.floatLabel">
                <mat-label>Title</mat-label>
                <input [(ngModel)]="titleOfSong" matInput name = "titleOfSong" [formControl]="titleController" placeholder="Title of the Music to be added" required>
                <mat-error *ngIf="titleController.invalid">{{getTitleErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field [floatLabel]="uploadNewSongForm.value.floatLabel">
                <mat-label>Artist</mat-label>
                <input [(ngModel)]="artistOfSong" matInput name = "artistOfSong" [formControl]="artistController" placeholder="Artist Name" required> 
                <mat-error *ngIf="artistController.invalid">{{getArtistErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field [floatLabel]="uploadNewSongForm.value.floatLabel">
                <mat-label>Album</mat-label>
                <input [(ngModel)]="albumOfSong" matInput name = "albumOfSong"  [formControl]="albumController" placeholder="Album Name" required>
                <mat-error *ngIf="albumController.invalid">{{getAlbumErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field [floatLabel]="uploadNewSongForm.value.floatLabel">
                <mat-label>Genre</mat-label>
                <input [(ngModel)]="genreOfSong" name = "genreOfSong" matInput [formControl]="genreController" placeholder="Type of music" required>
                <mat-error *ngIf="genreController.invalid">{{getGenreErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field [floatLabel]="uploadNewSongForm.value.floatLabel">
                <mat-label>Year</mat-label>
                <input [(ngModel)]="releaseYearOfSong" name = "releaseYearOfSong" matInput placeholder="Year released">
            </mat-form-field>
            
            <mat-form-field [floatLabel]="uploadNewSongForm.value.floatLabel">
                <mat-label>Reviews</mat-label>
                <input [(ngModel)]="reviews" name = "reviews" matInput placeholder="Personal opinion about this music">
            </mat-form-field>
  
        </div>
        
    </div>
    <div class="text-center" *ngIf="titleOfSong && artistOfSong && artistOfSong && albumOfSong && genreOfSong">
        <button type="submit" class="btn btn-primary">Upload new Song</button>        
    </div>
    
    </form>
