.visible {
    visibility: visible;
  }
.card {
  margin-top: 5px;
}
#buttonToAddToPlaylist {
  margin-top: 1px;
  margin-right: 2px;
  position: absolute;
  top: 3px;
  right: 1px;
}
.visible {
  position:relative;
}
