<div class="container">
    <div class="row">
        <div *ngFor="let song of topTenSongs">
            <div class="col-sm-6" >
                <div class="card" style="width: 18rem;">
                    <div class="visible">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{song.songDetails.title}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

