<ejs-splitter #horizontal height='100%' width='100%'>
    <e-panes>
        <e-pane size='80%'>
            <ng-template #content>
                <div class="container">
                    <div class="row">                            
                            <button *ngIf="isAdminLoggedIn == 'true'" type="button" id="buttonToUnhideSongs" class="btn btn-primary btn-circle" data-toggle="tooltip" data-placement="top" title="View all hidden songs" (click)="viewAllHiddenSongs()">
                                    <span class="fas fa-eye-slash" aria-hidden="true"></span>
                            </button>
                        <div class="row" *ngIf="receivedChildMessage && receivedChildMessage.length>0">
                                <div  *ngFor="let song of receivedChildMessage">
                                        <div class="col-sm-6" >
                                            <div class="card" style="width: 30rem;">
                                                <div class="visible">
                                                <button *ngIf="auth.loggedIn" type="button" id="buttonToAddToPlaylist" class="btn btn-primary btn-circle" data-toggle="tooltip" data-placement="top" title="Add Song to playlist here" (click)="addSongToPlaylistDialog(song._id)">
                                                    <i class="fa fa-plus" aria-hidden="true" ></i>
                                                </button>
                                                <div class="card-body">
                                                <h5 class="card-title">{{song.title}}</h5>
                                                <p class="card-text">Genre: {{song.genre}}</p>
                                                <p class="card-text">Artist: {{song.artist}}</p>
                                                <p class="card-text">Year Released: {{song.year}}</p>
                                                
                                                </div>
                                                </div>
                                            </div>
                            
                                        </div>
                                    </div>
                                </div>         
                        
                        <div class="row" *ngIf="!receivedChildMessage || receivedChildMessage.length==0">
                        <div  *ngFor="let song of topTenSongs;let j=index">
                            <div class="col-sm-6" >
                                <div class="card" style="width: 30rem;">
                                    <div class="visible">
                                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                                    
                                        Average User Rating: {{song.ratingAvg}}
                                        <star-rating value={{song.ratingAvg}} checkedcolor="red"></star-rating>
                                    <!-- A button to add the song to the playlist -->
                                    <button *ngIf="isAdminLoggedIn == 'false'" type="button" id="buttonToAddToPlaylist" class="btn btn-primary btn-circle" data-toggle="tooltip" data-placement="top" title="Add Song to playlist here" (click)="addSongToPlaylistDialog(song.songDetails._id)">
                                        <i class="fa fa-plus" aria-hidden="true" ></i>
                                    </button>
                                    <button *ngIf="isAdminLoggedIn == 'true'" type="button" id="buttonToAddToPlaylist" class="btn btn-primary btn-circle" data-toggle="tooltip" data-placement="top" title="Hide Song" (click)="hideSongFromList(song.songDetails._id)">
                                        <span class="fa fa-eye" aria-hidden="true"></span>
                                    </button>
                                    
                                    <div class="card-body">
                                    <h5 class="card-title">{{song.songDetails.title}}</h5>
                                    <p class="card-text">Genre: {{song.songDetails.genre}}</p>
                                    <p class="card-text">Artist: {{song.songDetails.artist}}</p>
                                    <p class="card-text">Year Released: {{song.songDetails.year}}</p>
                                    
                                    
                                    <mat-accordion>
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    View More
                                                </mat-panel-title>
                                                
                                                <mat-panel-description >
                                                    Reviewed By: {{song.numberOfReviews}} Users
                                                </mat-panel-description>
                                                
                                            </mat-expansion-panel-header>
                                            <span *ngFor="let song_rating of song.ratingsGivenByUser;let i=index">
                                            <div class="media">
                                                <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                                                    alt="Avatar">
                                                <div class="media-body">
                                                    <h5 class="mt-0 font-weight-bold blue-text">{{song_rating.ratedByUser}}</h5>
                                                    <star-rating value={{song_rating.rating}} checkedcolor="red"></star-rating>
                                                    {{song_rating.comments}}
                                       
                                                </div>
                                            </div>
                
                                       
                                        </span>
                                       
                                            <div class="input-group" *ngIf="auth.loggedIn">
                                                
                                                <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src={{profilePictureURL}} width="100" height="100"
                                                    alt="Generic placeholder image">
                                                    <textarea class="form-control custom-control" [(ngModel)]="comments" name="comments" placeholder="Write your comments here" 
                                                    rows="3" style="resize:none"></textarea>     
                                                    <span class="input-group-addon btn btn-primary" (click)=openDialog(song.songDetails._id)>Send</span>
                                                    
                                                </div>
                                            
                                        </mat-expansion-panel>
                                    </mat-accordion>
                
                                    </div>
                                    </div>
                                </div>
                
                            </div>
                        </div>
                        </div>
                    </div>
                </div>         
             </ng-template>
         </e-pane>
      
      <e-pane size='20%'>
            <ng-template #content>
                    <app-search-home-page (messageToEmit)="getMessage($event)"></app-search-home-page>
            </ng-template>
           
      </e-pane>
     </e-panes>
</ejs-splitter>



