<h2 mat-dialog-title>Update your playlist</h2>

<form #addNewSongToPlaylistForm ="ngForm" (ngSubmit)="onFormSubmit(addNewSongToPlaylistForm.value)">

        <div class="example-container container">
            <div class="example-container">
<mat-dialog-content >
  
    <mat-form-field style="width:400px;" [floatLabel]="addNewSongToPlaylistForm.value.floatLabel">
        <mat-select placeholder="Please Choose Playlist to update" [formControl]="optionSelectedControl" name="selectedPlaylistToUpdate" [(ngModel)]="selectedPlaylistToUpdate" style="width:400px;" required>
            <mat-option value="default" >---Select---</mat-option>
            <mat-option *ngFor="let playlist of playlistsData" [value] = playlist._id>{{playlist.playlistTitle}}</mat-option>
        </mat-select>

        
    </mat-form-field>
 
</mat-dialog-content>
</div>
</div>
</form>
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>


