
            
    <div class="row"  *ngIf="playlistCreated">
                <div class="col-sm-8 d-flex justify-content-center">
                    <span><p><i class="fas fa-check"></i> Playlist Uploaded Successfully</p></span>
                </div>
    </div>            

    <div class="container">
    <form #createNewPlaylistForm ="ngForm" (ngSubmit)="onFormSubmit(createNewPlaylistForm.value)">
    <div class="example-container container">
        <div class="example-container">
            <mat-form-field [floatLabel]="createNewPlaylistForm.value.floatLabel">
                <mat-label>Playlist Title</mat-label>
                <input [(ngModel)]="playlistTitle" matInput name = "playlistTitle" placeholder="Title of the Playlist" required>
            </mat-form-field>
            <mat-form-field [floatLabel]="createNewPlaylistForm.value.floatLabel">
                <mat-label>Playlist Description</mat-label>
                <input [(ngModel)]="playlistDescription" matInput name = "playlistDescription" placeholder="Please provide breif description about playlist" required> 
            </mat-form-field>

            <mat-form-field [floatLabel]="createNewPlaylistForm.value.floatLabel" required>
                <mat-label>Select Songs</mat-label>
                <mat-select placeholder="Select Songs" [formControl]="songs" autocomplete="off" multiple [(ngModel)]="selectedSongs">
                <!-- <mat-select [formControl]="songsMultiCtrl" placeholder="Add songs" [multiple]="true" #multiSelect> -->
                <!-- <ngx-mat-select-search [showToggleAllCheckbox]="true" (toggleAll)="toggleSelectAll($event)" [formControl]="bankMultiFilterCtrl"></ngx-mat-select-search> -->
                <!-- <input  type="text" name="search" [(ngModel)]="searchMusic" autocomplete="off" placeholder = "Start searching for a hero by id or name or country"> -->
                <input class="form-control" name="query" type="text" placeholder="Search songs"
                [(ngModel)]="query"
                (keyup)="handleQuery(query)">
                <mat-option *ngFor="let song of songsList" [value]="song.songDetails._id">{{song.songDetails.title}} &nbsp; (Reviewed By: {{song.numberOfReviews}} Users)</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field [floatLabel]="createNewPlaylistForm.value.floatLabel">
                <mat-label>Select Visibility</mat-label>
                <mat-select placeholder="Set Visibility" [formControl]="visibilitySelected" [(ngModel)]="selectedVisibility">
                <mat-option value="Private">Private</mat-option>
                <mat-option value="Public">Public</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Create New Playlist</button>        
    </div>
    
    </form>
    </div>
<!-- </pre> -->