.SignIn{
    position: absolute;
    top: 20;
    right:0;
  }
  #loggedInUser {
    font-size: smaller;
    font-style: italic;
    position: absolute;
    top: 18px;
    right: 91px;
    color: rgba(0, 0, 0, 0.7);
  }