<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <!-- <img src="logo" width="30" height="30" alt=""> -->
        <i class="fas fa-music"></i>I-Music
    </a>
    <a class="btn btn-outline-primary mr-2" routerLink="/home">Home <span class="sr-only">(current)</span></a>
  <!-- <button class="btn btn-outline-primary mr-2" (click)="$event.stopPropagation(); myDrop.open();">Home</button> -->
    <!-- <button class="btn btn-outline-primary mr-2" (click)="$event.stopPropagation(); myDrop.open();">About Us</button>   -->`
    <a class="btn btn-outline-primary mr-2" routerLink="/aboutUs">About Us</a>
    <button type="button" class="btn btn-primary SignIn" (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
    <button type="button" class="btn btn-danger SignIn" (click)="auth.logout()" *ngIf="auth.loggedIn" >Log Out</button>
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-primary mr-2" *ngIf="auth.loggedIn" ngbDropdownToggle>Songs</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <a class="btn btn-outline-primary mr-2" routerLink="addNewSong" *ngIf="auth.loggedIn">Upload New Song</a> 
          
        </div>
    </div>
    <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-primary mr-2" *ngIf="auth.loggedIn" ngbDropdownToggle>Playlists</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            
            <a class="btn btn-outline-primary mr-2" routerLink="createPlaylist" *ngIf="auth.loggedIn">Create New Playlist</a> 
            <a class="btn btn-outline-primary mr-2" routerLink="editPlaylist" *ngIf="auth.loggedIn">Edit existing playlist</a> 
        </div>
    </div>
    <a class="btn btn-outline-primary mr-2" routerLink="viewAllPlaylists">View all public playlist</a> 
    <a class="btn btn-outline-primary mr-2" routerLink="grantPriviligeToUsersComponent" *ngIf="isAdminLoggedIn=='true'">Grant Access to Other User</a> 
    <span id=loggedInUser><p>Welcome Admin {{loggedInPersonEmail}}</p></span>
</nav>